img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: cadetblue;
    padding: 50px;
    border: 5px double darkslateblue;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}
body {
    background-image: url(https://d25rq8gxcq0p71.cloudfront.net/dictionary-images/324/cat.jpg);
}
div {
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    color: darkcyan;
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
}